:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: #05a081;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  margin: 30px 0 0 0;
  color: rgb(227, 227, 227);
}

h2{
  margin: 0px 0 ;
  color: rgb(227, 227, 227);
}

p {
  margin: 10px;
  margin-bottom: 20px;
  color: rgb(227, 227, 227);
}

.weather__title{
  /* font-size: 20px;
  font-weight: 400; */
  font-weight: 500;
  color: white;
}

.weather__container{
  padding: 20px 0 15px 0;
  margin-bottom: 15px;
  background-color: #05a081;
}

#app{
  border-color: #05a081;
  border-style: solid;
  border-width: 2px;
  border-radius: 8px;
  width: 300px;
  height: 600px;
  margin: auto;
}

.weather{
  display: flex;
  /* margin: 20px 0; */
}

.photo img{
  width: 90%;
  height: 100%;
  margin-bottom: 10px;
}

.weather__icon{
  margin: 20px 23px 0 23px;
}

a img{
  width: 80%;
  margin: 6% 10%;
}

a p{
  margin-left: 35px;
  margin-right: 35px;
}